/*
    Off-white: #F9F9F9 (White)
    Accent Color: #E3FBBA (Light Green)
    Secondary Color: #FFF5BD (Light Yellow)
    Primary Color: #DBB2ED (Light Purple)

    Other:  #345201 (Dark Green)
            #7600A9 (Bright Purple)
            #2A043B (Dark Purple)
            #FED700 (Bright Yellow)
*/
#link
{
  text-align: center;
  align-content: center;
}
#link a
{
  text-decoration: none;
}
#link img
{
  width: 4em;
  background-color: #DBB2ED;
  border-radius: 0.25em;
  border: 0.5em solid #DBB2ED;
}


p{
  font-size: 130% !important;
}

body{
  background-color: #F9F9F9;
  width: 100%;
}

header {
  width: 99%;
  height: 26.5vh;
  float: none;
  padding-bottom: 1em;
}

a {
  text-decoration: none;
  font-style: italic;
}

a:visited {
  color: #345201;
}

a:hover {
  color: #7600A9;
}

a:active {
  color: #ff00ff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Carter One', cursive;
}

h2, h3, h4, h5, h6 {
  text-align: center;
}

p {
  font-family: 'Mukta', sans-serif;
}

header h1{
  padding-left: 5em;
  padding-top: 2em;
}

ul{
  padding-left: 5em;
}

li{
  list-style-type: none;
  text-align: left;
  padding-left: 2em;
  margin-bottom: 5px;
}

header nav ul {
  float: right;
  padding-right: 5em;
}

nav ul li{
  display: inline;
  padding: 0.5em;
  border: 0.25em outset #DBB2ED;
}

nav ul li:hover{
  border-style: inset;
}

main {
  width: 100%;
  padding-bottom: 2em;
}

#col-lg-4, #col-lg-3, #col-lg-6{
  border: 0.25em outset #2A043B !important; 
  padding: 0.25em;
}

#fourth:hover, #third:hover, #half:hover {
  border-style: inset;
}

#ImgCircle
{
  text-align: center !important;
  align-content: center !important;
  border-radius: 35%;
  width: 100px;
  height: 100px;
  float: left;
}

#icon{
  text-align: center !important;
  align-content: center !important;
  border-radius: 0%;
  max-width: 200px;
  max-height: 200px;
  float: left;
  padding-top: 0.25em;
  padding-right: 2em;
}

#moreInfoButton 
{
  border: 0.25em outset #DBB2ED;
  width: 15em;
  height: 3em;
}

#moreInfoButton2
{
  border: 0.25em outset #DBB2ED;
  width: 100%;
  height: 3em;
  align-content: center;
  text-align: center;
}

#moreInfoButton2 li
{
  align-content: center;
  text-align: center;
}

#color1 {
    background-color: #DBB2ED;
    border: 0.1em outset #7600A9;
}

#color1 #moreInfoButton, #color1 #moreInfoButton2 {
    background-color: #DBB2ED;
    color: #7600A9;
}

#color2 {
    background-color: #FFF5BD;
    border: 0.1em outset #7600A9;
}

#color2 #moreInfoButton, #color2 #moreInfoButton2 {
    background-color: #DBB2ED;
    color: #7600A9;
}

#color2 #moreInfoButton, #color2 #moreInfoButton2 input{
    background-color: none;
}

#color3 {
    background-color: #E3FBBA;
    border: 0.1em outset #345201;
}

#color3 #moreInfoButton, #color2 #moreInfoButton2 {
    background-color: #345201;
    color: #F9F9F9;
}

.sidePictures
{
  max-height: 25%;
  height: 3em;
}

.workImg{
  padding: 1em;
}

.sticky {
  position: fixed; 
  bottom: 0;
  left: 0;
  right: 0;
  height: 280px;
}

.sticky img{
  width: 100%;
}

.enlarge
{
  width: 15%;
}

.footerSpace {
  height: 7em;
}

form{
  float: none;
}

#right 
{
  max-width: 50%;
  float: right;
  padding-right: 1em;
}

#center
{
  float: none;
  align-content: center;
  text-align: center;
  max-width: 50%;
  width:50%;
}
#centered
{
  align-content: center;
  text-align: center;
}

#pad
{
  padding: 1em;
  font-size: 1.1em !important;
}

button{
  font-weight: bold;
}

#hidingBreak {
  display: none;
}

[class^='col-'] {
  margin: 1em;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

#moreInfoButton li, #moreInfoButton2 li {
    padding-top: 0.5em;
    font-weight: bold;
    color: #2A043B;
    padding-left: 0;
}

#moreInfoButton:hover, #moreInfoButton2:hover
{
  border-style: inset;
}

#col-lg-6 h3{
  text-align: left;
}

#col-lg-6 p{
  display: inline;
}

@media screen and (max-width: 800px) {

  .container {
    height: auto !important;
  }

  header {
    max-width: 100%;
    height: auto;
    padding-bottom: 14em;
  }

  #icon{
    max-width: 40%;
    max-height: 40%;
    float: none;
    margin: auto;
    text-align: center;
    display: block;
  }

  header h1{
    align-content: center;
    padding-left: 0;
  }

  header h1 a{
    max-width: 80%;
    display: block !important;
    text-align: center;
  }

  nav ul li {
    display: block;
    align-content: center;
  }

  header nav ul{
    padding: 0em !important;
    margin-top: 1em;
    align-content: center;
    display: block;
    width: 100%;
  }

  li{
    text-align: center;
  }

  #intro{
    width: var(--totWidth);
    height: auto;
    align-content: center;
    text-align: center;
  }

  #intro p{
    text-align: left;
  }

  #right 
  {
    max-width: 100%;
    float: none;
    padding: 1em;
    text-align: center;
  }

  .container{
    height: auto;
    padding: 1em;
  }

  .row-eq-height{
    text-align: left !important;
    margin: 0;
    float: none;
    border: none;
    padding: 1em;
    display: inline;
  }

  #ImgCircle
  {
    text-align: center !important;
    align-content: center !important;
    border-radius: 35%;
    width: 50%;
    padding: 25% !important;
    float: none;
  }

  #ImgCircle img {
    width: 50%;
    height: 50%;
    align-content: center;
    text-align: center;
  }

  [class^='col-'] {
    margin: 0;
    margin-bottom: 2em;
    padding-bottom: 2em;
  }
  
}