.picture
{
  width: 20em;
  padding-top: 5em;
}

body {
  background-color: #FFFBE6;
  width: 100%;
}

#HoCButton{
  background-color: #2A043B;
  color: #FFFBE6;
  border-radius: 2em;
  padding: 2em;
  font-size: large;
}


a {
  color: #2A043B;
  text-decoration: none;
  font-style: italic;
}

.navigation {
  scroll-behavior: smooth;
  transition-duration: .3s;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

a:hover {
  color: #7600A9;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Carter One', cursive;
}

h2, h3, h4, h5, h6 {
  text-align: center;
}

p {
  font-family: 'Mukta', sans-serif;
  margin: 1.5em !important;
  font-size: 130% !important;
}

header h1{
  overflow: hidden;
  font-size: 4em;
  padding-top: 1em;
}

ul li{
  list-style-type: none;
}

#ImgCircle
{
  border-radius: 35%;
  width: 100px;
  height: 100px;
  float: left;
}

#icon{
  max-width: 200px;
}

#centered {
  text-align: center;
}

#centered div{
  width: 100%;
}

.sticky img{
  width: 100%;
}

.row-eq-height {
  display: flex;
}

span {
  font-size: 5em;
}

.form-group {
  border: 0.25em solid #2A043B;
  border-radius: 0.5em;
  padding: 1em;
  margin: 1em;
}

.hourOfCode {
  background-color: #2A043B;
}

.registration {
  background-color: #FFFBE6;
}

@media screen and (max-width: 1025px){
  .picture
  {
    width: 20em;
    padding-top: 5em;
    align-content: center;
    text-align: center;
    padding: auto;
    margin: auto;
  }
}

@media screen and (max-width: 767px) {

  #icon {
    max-width: 125px;
  }
  
  span {
  font-size: 3em;
  }

  .picture
  {
    width: 10em;
    padding-top: 5em;
    align-content: center;
    text-align: center;
    padding: auto;
    margin: auto;
  }
}
  /* .container {
    height: auto !important;
  }

  header {
    padding-bottom: 3em;
    overflow: hidden;
  }

  #icon{
    max-width: 40%;
    max-height: 40%;
    float: none;
    margin: auto;
    text-align: center;
    display: block;
  }

  header h1{
    align-content: center;
    padding-left: 0;
  }

  header h1 a{
    max-width: 80%;
    display: block !important;
    text-align: center;
  }

  nav ul li {
    display: block;
    align-content: center;
  }

  header nav ul{
    padding: 0em !important;
    margin-top: 1em;
    align-content: center;
    display: block;
    width: 100%;
  }

  li{
    text-align: center;
  }

  #intro{
    width: var(--totWidth);
    height: auto;
    align-content: center;
    text-align: center;
  }

  #intro p{
    text-align: left;
  }

  #right 
  {
    max-width: 100%;
    float: none;
    padding: 1em;
    text-align: center;
  }

  .container{
    height: auto;
    padding: 1em;
  }

  .row-eq-height{
    text-align: left !important;
    margin: 0;
    float: none;
    border: none;
    padding: 1em;
    display: inline;
  }

  #ImgCircle
  {
    text-align: center !important;
    align-content: center !important;
    border-radius: 35%;
    width: 50%;
    padding: 5em !important;
    margin: 5em !important;
    float: none;
  }

  #ImgCircle img {
    width: 50%;
    height: 50%;
    padding: 5em !important;
    margin: 5em !important;
    align-content: center;
    text-align: center;
  }

  [class^='col-'] {
    margin: 0;
    margin-bottom: 2em;
    padding-bottom: 2em;
  }
   */
